[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "==1.26.4"
pandas = "*"
scikit-learn = "*"
opencv-python = "*"
matplotlib = "*"
pillow = "*"
fastapi = "*"
uvicorn = "*"
seaborn = "*"
imgaug = "*"
tqdm = "*"
ipykernel = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.12"
