ml_model/data/temp_split
ml_model/data/Mammiferes
ml_model/data/Mammiferes_augmented
ml_model/data/preprocessed_footprints
ml_model/data/temp_dataset
ml_model/data/footprint_dataset.csv
ml_model/data/footprint_dataset_augmented.csv
ml_model/data/
*.keras
*.h5
*.pth
venv/
tf-gpu-env/
__pycache__/